:root {
  --gutter: 15px;
}

*, *:before, *:after {
  /* inherit - это наследование */
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 18px;
}
body,p,h1,h2,h3,ul,ol {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #0b9639;
}
.container {
  background-color: #eee;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  /* Перенос на следующую строку, если элемент за экраном браузера */
  flex-wrap: wrap;
}
.row > div {
  padding: var(--gutter);
  margin: 0 auto;
  background-color: wheat;
  border: 1px solid gray;
}
.col-3 {
  width: calc(25% - var(--gutter));
}
.col-6 {
  width: calc(50% - var(--gutter));
}
.col-12 {
  width: calc(100% - var(--gutter));
}
